@model IEnumerable<E_Commerce.Models.Product.ProductListItemViewModel>

@{
    ViewData["Title"] = "Products";
}

<h2>Products</h2>

<a asp-action="Create">Add New Product</a>

<hr />

<partial name="_ProductsTable" model="Model" />